@media screen and (max-width: 880px) {
    nav ul li a {
        font-size: 8px;
        color: chartreuse;
    }

    div button {
        width: 150px;
        height: 75px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info_text h1 {
        font-size: 20px;
      }
      .info_text p {
        font-size: 15px;
      }
      .info_text a {
        font-size: 8px;
      }
}

@media screen and (max-width: 480px) {

    nav,
    .auth {
        display: none;
    }
    .info_text h1 {
        font-size: 13px;
      }
    .info_text p {
        font-size: 8px;
      }
    .info_text a {
        font-size: 6px;
      }
}